<div align="center" class="login-main-panel">
  <div align="center" class="login-main">
    <%= image_tag(image_path('FINALE-FINALE!!-_03.gif'), :class => 'gnibl-logo')%>
    <%= render 'form_login' %>
  </div>
</div>
